@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: ggsans-bold;
    src: url(./Fonts/gg-sans/ggsans-Bold.ttf);
}

@font-face {
    font-family: ggsans-normal;
    src: url(./Fonts/gg-sans/ggsans-Normal.ttf);
}

@font-face {
    font-family: abc-gintoNord;
    src: url(./Fonts/Ginto-Nord/Ginto-Nord-600.woff2);
}

@media (max-width: 350px) {
    .nav-bar{
        flex-direction: column;
        gap: 1rem;
    }
}